html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
  margin: 0;
}

h2 {
  font-family: "Raleway";
  font-size: 33px;
  font-weight: 700;
  line-height: 1.4em;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin: 0;
}

.menu {
  height: inherit;
  letter-spacing: -1px;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.link {
  padding: 0 0 0 45px;
  text-decoration: none;
  color: black;
}

.hero{
  display: flex;
  justify-content: space-between;
}

.hero-description {
  margin: 70px 0px 120px;
  align-self: center;
  padding: 0px 0px 60px;
}

.hero-description p {
  font-size: 15px;
}

.hero-form-email input {
  border-radius: 4px;
  border-width: thin;
  border-color: #bfbfbf;
  padding: 10px 70px 10px 15px;
}

.hero-form-email button {
  background-color: #3065f8;
  color: white;
  border-radius: 4px;
  border-style: none;
  padding: 11px 50px;
  margin: 0px 10px;
  font-size: 0.8em;
}

.hero-illustration-cont {
  margin: 40px 0px 120px;
}

.back-img {
  max-width: 100%;
  height: inherit;
  margin: 0 auto;
  margin-bottom: -40px;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  z-index: -1;
}

.testimonials {
  display: flex;
  background-color: #f6f6fe;
  justify-content: space-between;
}

.testimonial-description {
  margin: 40px 0px 80px;
}

.testimonial-content p {
 font-size: 14px;
}

.testimonial-link {
  display: flex;
  align-items: center;
}

.testimonial-link p {
  margin: 0 0 1em;
}

.testimonial-link a {
  font-size: 14px;
  color: #3c9f8f;
}

.icon-arrow{
  margin: 0 0 1em;
}

.testimonial-quote {
  margin-top: 25px;
  height: 160px;
  background: white;
  width: fit-content;
  padding: 15px 5px 10px 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgb(230, 233, 240)
}

.quote-content{
  font-size: 0.66em;
  letter-spacing: 0.6px;
  line-height: 1.8em;
  width: 260px;
  margin-top: 1px;
}

.quote-author {
  display: flex;
  align-items: center
}

.avatar-img {
  border-radius: 50%;
  margin-right: 15px;
}

.metadata span{
 font-weight: bold;
 letter-spacing: .3px;
 font-size: small;
}

.metadata p {
  font-size: x-small;
  margin-top: 0;
  margin-bottom: 0;
}

.testimonial-illustration-cont {
  margin: 40px 0px 40px;
}

.testimonial-illustration-cont img {
  padding-top: 50px;
}

.get-access {
  display: flex;
  background-color: #585989;
  color: #bfbfbf;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0px;
}

.get-access h3{
  color: white;
  font-size: 1.5em;
  margin-top: 0em;
  margin-bottom: .5em;
  letter-spacing: 1px;
  font-family: "Raleway";
  font-weight: 700;
}

.access-description {
  margin-top: 0em;
}

.access-form-email {
  margin-top: 0;
}

.access-form-email input {
  border-radius: 4px;
  border-width: thin;
  border-color: #bfbfbf;
  padding: 10px 160px 10px 15px;
  display: block;
  box-shadow: 2px 2px 8px 0px rgb(86, 86, 86);
}

.access-form-email button {
  background-color: #3065f8;
  color: white;
  border-radius: 4px;
  border-style: none;
  padding: 11px 30px;
  margin: 10px 0px;
  box-shadow: 2px 2px 8px rgb(86, 86, 86);
}

.footer {
  display: flex;
  background-color: #070439;
  color: #bfbfbf;
}

.footer-wrapper {
  flex: 1;
  margin: 80px 0 40px;
}

.list-wrapper{
  display: flex;
  justify-content: space-between;
}

.list-wrapper li {
  list-style: none;
}

.contact-phone {
  display: flex;
  align-items: center;
}

.contact-phone img{
  margin: 1em 0;
  padding-right: 1em;
}

.contact-email {
  display: flex;
  align-items: center;
}

.contact-email img {
  margin: 0;
  padding-right: 1em;
}

.contact-email p {
  margin: 0
}

.list-one li {
  margin-bottom: 10px;
}

.list-two li {
  margin-bottom: 10px;
}

.attribution p {
  padding: 20px 0 0px;
  margin: 0 auto;
  font-size: 9px;
}

.attribution a {
  color: #f6f6fe
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  height: inherit;
  flex: 1;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 1em;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    display: block;
    text-align: -webkit-center;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .hero-description {
    transform: rotate(180deg);
    margin: 0 auto;
  }

  .hero-illustration-cont {
    transform: rotate(180deg);
    margin: 0 auto;
    padding: 2em 0;
  }

  .hero-form-email button {
    display: block;
    margin-top: 1em;
    padding: 11px 95px;
  }

  .testimonials {
    display: block;
    text-align: -webkit-center;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .testimonial-description {
    transform: rotate(180deg);
    margin: 0 auto;
    padding-bottom: 4em;
  }

  .testimonial-link {
    justify-content: center;
  }

  .testimonial-quote {
    text-align: initial;
    padding: 15px 5px 10px 25px;
  }

  .testimonial-illustration-cont {
    margin: 0 auto;
    padding-bottom: 3em;
    transform: rotate(180deg);
  }

  .get-access {
    display: block;
    height: auto;
    text-align: center;
  }

  .access-form-email {
    text-align: -webkit-center;
  }

  .access-form-email input {
    padding: 10px 70px 10px 15px;
  }

  .access-form-email button {
    padding: 11px 65px;
  }
}

@media screen and (max-width: 375px) {
  .logo img {
    width: 90px;
  }

  .menu {
    font-size: small;
    margin: 0;
  }

  .menu ul {
    margin: 0;
    padding-top: 1.8em;
  }

  .link {
    padding-left: 30px;
  }

  .hero-illustration-cont img {
    width: 330px;
  }

  .hero-description h2 {
    font-size: 25px;
    font-family: "Open Sans";
  }

  .hero-description p {
    font-size: 13px;
    margin: 1em 3em 1em;
  }

  br {
    display: none;
  }

  .back-img{
    padding-bottom: 1.5em;
  }

  .testimonial-illustration-cont img {
    width: 300px;
  }

  .testimonial-description h2 {
    font-size: 17px;
    margin-bottom: 1.5em;
  }

  .testimonial-content p {
    font-size: 13.5px;
    text-align: left;
    padding: 0 2em 0 0;
  }

  .testimonial-link a {
    font-size: 11px;
  }

  .metadata span {
    font-size: 10px;
  }

  .access-description h3 {
    font-size: 1em;
  } 

  .access-description p {
    padding: 0 2em;
    font-size: 14px;
  }

  .access-form-email {
    padding-top: 1em;
  }

  .list-wrapper {
    display: block;
  }

  .list-one ul {
    padding-inline-start: 0;
    padding-top: 2em;
  }

  .list-two ul {
    padding-inline-start: 0;
    padding-top: 2em;
  }
}